* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.button {
    cursor: pointer;
    transition: .5s;
    width: 363px;
    height: 64px;
    border: none;
    background-color: #0146FE;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: Inter;
    display: block;
    padding: 20px, 24px, 20px, 24px;
}

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid  #E6E7EC;
    border-top: 1px solid  #E6E7EC;
    background: #FFFFFF;

    &__logo {
        margin-left: 135px;
        margin-top: 22px;
    }
}

.main {
    width: 100%;
}

.travel-hospitality {
    width: 100%;

    &__label {
        margin-top: 80px;
        font-family: Inter;
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
        letter-spacing: -0.05em;
        text-align: center;
    }

    &__description {
        margin-top: 25px;
        color: #2A2B2FCC;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: -0.01em;
        text-align: center;
    }

    &__button {
        margin: 0 auto;
        margin-top: 40px;
    }
}

.language {

    &__label {
        font-family: Inter;
        font-size: 60px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: -0.05em;
        text-align: center;
        margin-top: 144px;
    }

    &__description {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: -0.01em;
        text-align: center;
        margin-top: 22px;
    }

    &__cards {
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
        justify-content: space-between;
        margin-top: 70px;
        gap: 10px;

        @media(max-width: 1420px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media(max-width: 1290px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media(max-width: 1250px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {
        width: 400px;
        height: 422px;
        border: 2px solid #0000000A;
        border-radius: 32px;
        box-shadow: 0px 2px 6px 0px #00000014;
        padding-left: 16px;
        padding-right: 16px;

        @media(max-width: 1250px) {
            width: 600px;
        }
        @media(max-width: 650px) {
            width: 100%;
        }

        &__label {
            font-family: Inter;
            font-size: 34px;
            font-weight: 900;
            line-height: 34px;
            letter-spacing: -0.03em;
            text-align: center;
            margin-top: 24px;
        }

        &__description {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            letter-spacing: -0.01em;
            text-align: center;
            margin-top: 12px;
        }

        &__image {
            display: block;
            margin-top: 16px;
            @media(max-width: 1250px) {
                margin: 16px auto;
            }
        }
    }
}

.product-for {
    display: block;
    position: relative;
    margin-top: 214px;
    margin-left: 151.5px;
    margin-right: 151.5px;

    @media(max-width: 1450px) {
        margin-left: 0;
        margin-right: 0;    
    }

    &__label {
        font-family: Inter;
        font-size: 60px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: -0.05em;
        text-align: center;
    }

    &__description {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: -0.01em;
        text-align: center;
        margin-top: 32px;
    }

    &__buttons {
        display: flex;
        width: fit-content;
        margin: 64px auto;
        gap: 16px;

        button {
            width: 247px;
            height: 50px;
            font-family: Inter;
            letter-spacing: -0.03em;
            font-size: 18px;
        }

        button:first-child {
            width: 167px;
        }

        button:last-child {
            width: 185px;
        }
    }

    &__button {
        position: relative;
        background-color: #F4F6FD;
        color: #000000;

        &_active,
        &:hover {
            background-color: #0146FE;
            color: #FFFFFF;
        }
    }

    &__cards {
        margin-top: -32px;
        margin-left: 2px;
        position: relative;
        width: 1137px;
        height: 422px;

        @media(max-width: 1460px) {
            margin: auto;
        }

        div:nth-child(2) {
            z-index: 2;
            top: 40px;
            transform: scale(0.935);
        }

        div:nth-child(3) {
            top: 80px;
            z-index: 1;
            transform: scale(0.845);
        }
    }

    &__card {
        width: 100%;
        height: 423px;
        transition: .5s;
        z-index: 3;
        width: fit-content;
        height: fit-content;
        display: flex;
        gap: 163px;
        padding-top: 40px;
        padding-left: 48px;
        padding-right: 29px;
        padding-bottom: 41px;
        border: 2px solid #0000000A;
        border-radius: 32px;
        box-shadow: 0px 4px 12px 0px #0000001F;
        background-color: #ffffff;
        position: absolute;
        top: 0;

        &__label {
            font-family: Inter;
            font-size: 60px;
            font-weight: 900;
            line-height: 60px;
            letter-spacing: -0.05em;
            text-align: left;
        }

        &__description {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            letter-spacing: -0.01em;
            text-align: left;
            margin-top: 32px;
            margin-left: 27px;
        }

        &__image {
            border-radius: 32px;
            height: 338px;
        }
    }

    &__button {
        margin: 0 auto;

        &_under {
            margin-top: 120px;
            background-color: #0146FE;
            color: #FFFFFF;
        }
    }
}

.help {
    width: 100%;
    margin-top: 80px;
    padding-top: 64px;
    padding-bottom: 50px;
    background-color: #F4F6FD;

    &__label {
        font-family: Inter;
        font-size: 60px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: -0.05em;
        text-align: center;
    }

    &__cards {
        margin-top: 80px;
        margin-left: 7px;   
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding-left: 253.5px;
        padding-right: 253.5px;
    }

    &__card {
        width: 295px;
        height: 266px;
        margin-bottom: 39px;

        &__icon {
            display: block;
            margin: 0 auto;
        }

        &__label {
            margin-top: 28px;
            font-family: Inter;
            font-size: 34px;
            font-weight: 900;
            line-height: 34px;
            letter-spacing: -0.03em;
            text-align: center;
        }

        &__description {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #7A869C;
            margin-top: 13px;
        }
    }

    &__button {
        margin: 22px auto;
    }
}

